.card {
    display: block;
    background-color: #2E4053;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: .5rem;
    border-radius: .5rem;
}